body {
    padding-top: 50px;
}

.padtop {
    padding-top: 20px;
}

.jumbotron {
    background-color: #fff;
}

.progress {
    margin-top: 10px;
}

.btn, .input-group-addon, .thumbnail, .pagination>li:last-child>a,
.pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span  {
    border-radius: 0px;
}

#rating {
    margin-top: 30px;
}

span.stars, span.stars span {
    display: block;
    background: url('../images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    position: relative;
}

.circle-border {
    border: 5px solid black;
}

.circle-solid{
    background-color: #306AA8;
}

.circle:before {
    content: "";
    display: block;
    font-size: 200px;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
}

.score-text {
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #fff;
}

.circle-pagerank {
    border-color: #8CC152;
    background-color: #A0D468;
}

.circle-pagespeed {
    border-color: #F6BB42;
    background-color: #FFCE54;
}

.circle-moz {
    border-color: #37BC9B;
    background-color: #48CFAD;
}

.circle-alexarank {
    border-color: #3BAFDA;
    background-color: #4FC1E9;
}

.card-header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ececec;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 85%;
}
