body {
    padding-top: 81px;
}

.jumbotron {
    background-color: #fff;
}

.progress {
    margin-top: 10px;
}

.btn, .input-group-addon, .thumbnail, .pagination>li:last-child>a,
.pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span  {
    border-radius: 0px;
}

span.stars, span.stars span {
    display: block;
    background: url('../images/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
