body {
    padding-top: 51px;
}

.circle-pagerank {
    background-color: transparent;
}

.circle-pagespeed {
    background-color: transparent;
}

.circle-moz {
    background-color: transparent;
}

.circle-alexarank {
    background-color: transparent;
}

td {
    font-size: 16px;
}

